<div class="modal fade" id="assetLibraryModal" data-url="{{ hcore_layout_path('asset-listing', {modal:true}) }}" tabindex="-1" role="dialog" aria-labelledby="assetLibraryModalTitle" aria-hidden="true" style="z-index: 99999;">
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content border border-primary">
    {# {{ include('/asset/modal-content.html.twig'|hcore_fullpath) }} #}
    </div>
  </div>
</div>
