{% set class = hcoreLinkCls %}
{% set select2Options = {
  "searchInputPlaceholder": "Nhập đường dẫn hoặc chọn từ danh sách",
  "tags": true
} %}
{% extends HCoreFormSelectLayout %}

{% block options %}
  {% set defaultOption = {id: -1, name: 'Để trống', value: ''} %}
  {% set optionLinks = hcore_form_link_document_options(item) %}
  {% set optionLinks = [defaultOption]|merge(optionLinks) %}
  {% set linktype = value.linktype is defined ? value.linktype : '' %}
  {% set selectedValue = value.path is defined ? value.path : '' %}
  {% set selectedId = value.internalId is defined ? value.internalId : (selectedValue ? 0 : -1) %}

  {% if linktype == 'direct' %}
    {% set optionLinks = [{id: 0, name: selectedValue, value: selectedValue}]|merge(optionLinks) %}
  {% endif %}

  {% for option in optionLinks %}
    <option value="{{ option.value }}" {%if option.id == selectedId%}selected{%endif%}>{{ option.name }}</option>
  {% endfor %}
{% endblock %}
