{% set class = hcoreRelationCls %}
{% extends HCoreFormSelectLayout %}

{% block options %}
  <option value=""></option>

  {% if definition is defined %}
    {% set classes = definition.classes is defined and definition.classes is iterable ? definition.classes|map(e => e.classes) : [] %}
  {% elseif config is defined %}
    {% set classes = config.params.classes is defined ? config.params.classes : [] %}
  {% endif %}

  {% set optionClasses = hcore_form_relation_option_class(classes) %}
  {% for optionClass in optionClasses %}
    {% set label = optionClass.class.title %}
    {% set options = optionClass.data %}
    <optgroup label="{{ label }}">
      {% for option in options %}
        <option value="{{ option.id }}" {%if value and option.id == value.id%}selected{%endif%}>{{ option.key }}</option>
      {% endfor %}
    </optgroup>
  {% endfor %}
{% endblock %}
