<div class="footer">
  <div class="row justify-content-between align-items-center">
    <div class="col">
      <p class="font-size-sm mb-0">&copy; CoreMS <span class="d-none d-sm-inline-block">2024 HowMAS.</span></p>
    </div>
    <div class="col-auto">
      <div class="d-flex justify-content-end">
        <ul class="list-inline list-separator">
          <li class="list-inline-item">
            {# <a class="list-separator-link" href="https://howmas.com/" target="_blank">
              <i class="tio-support mr-1"></i>Need a help
            </a> #}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
