<a class="js-fullscreen-invoker btn btn-sm btn-icon btn-no-focus btn-primary rounded-circle" href="javascript:;"
   data-hs-fullscreen-options='{
     "targetEl": "#{{ fullscreenId }}"
   }'>
  <i class="tio-fullscreen-1-1 hs-fullscreen-icon-default" data-toggle="tooltip" data-placement="top" title="Toàn màn hình"></i>
  <i class="tio-exit-fullscreen-1-1 hs-fullscreen-icon-active" data-toggle="tooltip" data-placement="top" title="Thoát"></i>
</a>
