{# <div aria-live="polite" aria-atomic="true" style="position: relative; z-index: 9999999999;"> #}
  <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; top: 20px; right: 20px; z-index: 0;">
    <div class="toast-header">
      <img class="avatar avatar-sm avatar-circle mr-2" src="{{ appLogoMini }}" alt="image-alert">
      <h5 class="mb-0">Thông báo</h5>
      <small class="ml-auto"></small>
      <button type="button" class="close ml-3" data-dismiss="toast" aria-label="Close">
        <i class="tio-clear" aria-hidden="true"></i>
      </button>
    </div>
    <div class="progress" style="height: 4px;">
      <div id="toast-progess" class="progress-bar progress-bar-striped bg-howmas" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="toast-body">
      <b id="toast-message" class=""></b>
    </div>
  </div>
{# </div> #}
